<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>

  {{#block "head"}}{{/block}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rose et Automne</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
  {{!-- <link rel="manifest" href="./img/favicon_io/site.webmanifest"> --}}

  {{!-- <meta name="description" content="Glowing tree experiment using bloom effect shader in Three.js" />
  <meta name="keywords" content="glowing, threejs, tree, robin, payot, experiment, bloom, lab"> --}}

  <!-- socials meta tags -->
  <meta property="og:title" content="Rose et Automne">
  <meta property="og:description" content="Rose et Automne">
  <meta property="og:image" content="https://robpayot.github.io/rose-automne/build/img/social.jpg">
  <meta property="og:url" content="https://robpayot.github.io/rose-automne/build/">
  <meta property="og:site_name" content="Rose et Automne">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://robpayot.github.io/rose-automne/build/img/social.jpg">
  <meta name="twitter:image:alt" content="Rose et Automne">

  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>

</head>

<body class="{{bodyclass}}">
  <section class="scene">
    <canvas class="scene__canvas" data-scene></canvas>
  </section>

  {{#block "body"}}{{/block}}
</body>

{{#block "scripts"}}{{/block}}

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

<% if (htmlWebpackPlugin.options.devServer) { %>
<script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
<% } %>

</html>
