<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>

  {{#block "head"}}{{/block}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rose et Automne</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">

  
  <link href="/main.efac9930c43427bda160.css" rel="stylesheet">
  

</head>

<body class="{{bodyclass}}">
  <section class="scene">
    <canvas class="scene__canvas" data-scene></canvas>
  </section>

  {{#block "body"}}{{/block}}
</body>

{{#block "scripts"}}{{/block}}


<script src="/bundle.efac9930c43427bda160.js"></script>




</html>
